<%# contains the table used in the dashboard%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
  /* This styling is needed to allow the numbers inputs to not use text */

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
</style>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="tbl_day_data"></div>

    <div id="bp-diary" class="container">
      <div id="bp-diary" class="table-wrapper">
        <div id="bp-diary" class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="tableHeadMobile">
                <b>Stress Log</b>
              </h4>
            </div>

            <div class="col-sm-6 tableButtonMobile">
              <a href="#addModal3" class="btn btn-add" data-toggle="modal">
                <i class="material-icons">&#xE147;</i>
                <span>Add Entry</span>
              </a>
              <a href="#deleteMultipleModal" class="btn btn-delete-multiple" data-toggle="modal">
                <i class="material-icons">&#xE15C;</i>
                <span>Delete</span>
              </a>
            </div>
          </div>
        </div>

        <table id="food_table" class="table table-striped table-hover">
          <!-- The head of the table is one row, does not need to be rendered -->
          <thead>
            <tr>
              <th>
                <span class="custom-checkbox">
                  <input type="checkbox" id="checkbox3" name="options[]" value="1" />
                  <label for="checkbox3"></label>
                </span>
              </th>
              <th>Time</th>
              <th class="columnHideMobile">Stress Level (out of 10)</th>
              <th class="blankForMobile"><br /></th>
              <th>Notes</th>
              <th></th>
            </tr>
          </thead>

          <!-- Table body is multiple rows, each row needs rendered using jquery and database requests -->
          <tbody>
            <!-- Each row gets rendered using a database request-->
            <%if (typeof days.stressLevels != 'undefined') { %> <%
            days.stressLevels.forEach(function(stressLevels) { %>
            <tr id="<%= stressLevels._id %>">
              <td>
                <span class="custom-checkbox">
                  <input type="checkbox" id="checkbox_stressLevels" name="options[]" value="1" />
                  <label for="checkbox3"></label>
                </span>
              </td>
              <td class="name_data">
                <%= stressLevels.time %>
              </td>
              <!-- <td class="blankForMobile newRowMobile"><br></td> -->
              <td class="row_data newRowMobile" data-label="Stress: " column_name="stressLevels_data">
                <%if (typeof stressLevels.stress != 'undefined') { %> <%=
                stressLevels.stress %> <% } else { %> <%= 'NR' %> <% } %>
              </td>
              <td class="row_data notes_data" column_name="notes_data">
                <%if (typeof stressLevels.notes != 'undefined') { %> <%=
                stressLevels.notes %> <% } else { %> <%= 'None' %> <% } %>
              </td>
              <td>
                <a href="#editModal3" class="edit" data-toggle="modal">
                  <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                </a>
                <a href="#deleteModal3" class="delete" data-toggle="modal">
                  <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                </a>
              </td>
            </tr>
            <% }); %> <% } %>
            <tr id="totals_row"></tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Add Modal HTML -->
    <div id="addModal3" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/days/addStressLevel" method="POST" autocomplete="off">
            <div class="modal-header">
              <h4 class="modal-title">Add Entry</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Time (HH:MM AM|PM)</label>
                <input type="text" pattern="\b((1[0-2]|0?[1-9]):([0-5][0-9]) ([AaPp][Mm]))" name="time" id="time3"
                  value="12:00 PM" class="form-control" required maxlength="25" onclick="this.select()" />
              </div>
              <div class="form-group">
                <label>Stress (1 - 10)</label>
                <div class="d-flex justify-content-center my-4">
                  <input step="1" name="stress" class="form-control check-numbers4" type="range" value="5" min="1"
                    max="10" oninput="this.nextElementSibling.value = this.value">
                  <output class="font-weight-bold blue-text mr-2 mt-1">5</output>
                </div>
              </div>
              <div class="form-group">
                <label>Notes</label>
                <textarea class="form-control" id="notes" rows="3" name="notes" class="form-control" maxlength="140"
                  onclick="this.select()"></textarea>
              </div>
              <input type="hidden" name="date" value="<%= days.date %>" />
              <input type="hidden" name="dateString" value="<%= days.dateString %>" />
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
              <input type="submit" class="btn btn-success" value="Add" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Edit Modal HTML -->
    <div id="editModal3" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/days/editStressLevel" method="POST" autocomplete="off">
            <div class="modal-header">
              <h4 class="modal-title">Edit Entry</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Time</label>
                <input type="text" pattern="\b((1[0-2]|0?[1-9]):([0-5][0-9]) ([AaPp][Mm]))" name="time"
                  class="form-control name_row_data" value="new entry" maxlength="25" required
                  onclick="this.select()" />
              </div>
              <div class="form-group">
                <label>Stress (out of 10)</label>
                <input type="text" pattern="([0-9]{,3})" name="stress" class="form-control edit_row_data check-numbers4"
                  value="0" maxlength="3" max="180" required onclick="this.select()" />
              </div>
              <div class="form-group">
                <label>Notes</label>
                <textarea name="notes" id="editNotes3" rows="3" class="form-control edit_row_data" value=""
                  maxlength="140" onclick="this.select()"></textarea>
              </div>
              <input type="hidden" name="date" value="<%= days.date %>" />
              <input type="hidden" name="dateString" value="<%= days.dateString %>" />
              <input class="row_id_data" type="hidden" name="row_id" value="" />
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
              <input type="submit" class="btn btn-info" value="Save" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Delete Modal HTML -->
    <div id="deleteModal3" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/days/deleteStressLevel" method="POST" autocomplete="off">
            <div class="modal-header">
              <h4 class="modal-title">Delete Entry</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this entry?</p>
              <p class="text-warning">
                <small>This action cannot be undone.</small>
              </p>
              <input type="hidden" name="date" value="<%= days.date %>" />
              <input type="hidden" name="dateString" value="<%= days.dateString %>" />
              <input type="hidden" class="row_id_data" name="row_id" value="" />
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
              <input type="submit" class="btn btn-danger" value="Delete" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Delete Multiple Modal HTML -->
    <div id="deleteMultipleModal_stress" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/days/deleteMultipleStressLevels" method="POST" autocomplete="off">
            <div class="modal-header">
              <h4 class="modal-title">Delete Entry</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this entry?</p>
              <p class="text-warning">
                <small>This action cannot be undone.</small>
              </p>
              <input type="hidden" name="date" value="<%= days.date %>" />
              <input type="hidden" name="dateString" value="<%= days.dateString %>" />
              <input type="hidden" class="row_id_data_array" name="row_id" value="empty" />
            </div>
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
              <input type="submit" class="btn btn-danger" value="Delete" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function ($) {


    //on changing the checkbox header
    $("#checkbox3").change(function () {
      //if the check box is checked, cycle through document and check everything
      if (this.checked == true) {
        $(document)
          .find("input[id=checkbox_stressLevels]")
          .each(function (index, val) {
            $(val).prop("checked", true);
          });
      } else {
        //uncheck everything
        $(document)
          .find("input[id=checkbox_stressLevels]")
          .each(function (index, val) {
            $(val).prop("checked", false);
          });
      }
    });

    //these double check that input values are valid numbers for weight; input patterns make sure the input is a certain length
    $(".check-numbers4").keyup(function () {
      $(".check-numbers4").val(this.value.match(/[0-9]*\.?[0-9]+/g));
      console.log("in here");
    });

    //click the add button
    $(document).on("click", ".btn-add", function (event) {
      //add the current time in --:-- AM/PM format
      var g = new Date().toLocaleTimeString("en-US", {
        hour: "numeric",
        hour12: true,
        minute: "numeric"
      });
      $("#time3").attr({
        value: g
      });
    });

    //click the edit button
    $(document).on("click", ".edit", function (event) {
      //may need this?
      event.preventDefault();

      //find tbl row and its ID closest to the click, will be used to update the db
      var tbl_row = $(this).closest("tr");
      var id = tbl_row.attr("id");

      var temp_row_data = [];
      let i = 0;

      //get new name
      var name = tbl_row.find(".name_data").html();
      name = name.trim();
      $("#editModal3")
        .find(".name_row_data")
        .attr("value", name);

      //get row id
      $("#editModal3")
        .find(".row_id_data")
        .attr("value", id);

      let notes = tbl_row.find(".notes_data").html();
      notes = notes.trim();

      //take each value in the actual row data and update the default value for the edit form
      tbl_row.find(".row_data").each(function (index, val) {
        //for each value of the row store to array, need to get the int out of it
        temp_row_data[i] = parseInt($(this).html());

        //find what is written in the notes
        if (isNaN(temp_row_data[i])) {
          //if no value recorded, not recorded
          temp_row_data[i] = "N/A";

          //check if notes
          if (i == 3) {
            temp_row_data[i] = notes;
          }
        }
        i++;
      });

      //for each value in the edit form, we update with the temporary data
      let j = 0;
      console.log(temp_row_data);
      $("#editModal3")
        .find(".edit_row_data")
        .each(function (index, val) {
          //update edit form
          $(this).attr("value", temp_row_data[j]);
          if (j == 3) {
            $("#editNotes3").val(temp_row_data[j]);
          }
          j++;
        });
    });

    //deletes row
    $(document).on("click", ".delete", function (event) {
      //may need this?
      event.preventDefault();

      //find tbl row and its ID closest to the click, will be used to update the db
      var tbl_row = $(this).closest("tr");
      var id = tbl_row.attr("id");

      //update row id in the submit form
      $("#deleteModal3")
        .find(".row_id_data")
        .attr("value", id);
    });

    //deletes one row
    $(document).on("click", ".delete", function (event) {
      //may need this?
      event.preventDefault();

      console.log("delete");

      //find tbl row and its ID closest to the click, will be used to update the db
      var tbl_row = $(this).closest("tr");
      var id = tbl_row.attr("id");

      //update row id in the submit form
      $("#deleteModal3")
        .find(".row_id_data")
        .attr("value", id);
    });

    //deletes all checked rows
    $(document).on("click", ".btn-delete-multiple", function (event) {
      //find tbl row and its ID closest to the click, will be used to update the db
      var tbl_row_array = [];
      var id_array = [];

      //checkbox counter
      let checkboxCounter = 0;
      let arrayIndex = 0;

      //loop through checkboxes, store values and send to router
      $(document)
        .find("input[type=checkbox]")
        .each(function (index, val) {
          //if the box is checked, collect the row id
          if ($(val).prop("checked") && checkboxCounter > 0) {
            //find tbl row and its ID closest to the click, will be used to update the db
            var tbl_row = $(this).closest("tr");
            var id = tbl_row.attr("id");
            id_array[arrayIndex] = id;
            arrayIndex++;
          }

          //check if end of checkbox coounter, then submit request
          if (
            checkboxCounter ==
            $(document).find("input[type=checkbox]").length - 1
          ) {
            console.log("id_array= " + id_array.toString());

            //update row id in the submit form
            $("#deleteMultipleModal_stress")
              .find(".row_id_data_array")
              .attr("value", id_array);
          }
          checkboxCounter++;
        });
    });

  });
</script>